.employee-item {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 10px;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  background-color: white;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}
.info {
  margin-top: 55px;
}

.react-icon-add {
  color: rgb(179, 219, 219);
}
.react-icon-del {
  color: red;
}
.employee-list {
  position: relative;
}
.add-new-employee {
  position: absolute;
  top: 50px;
  right: 0;
}
