body{
    /* background-image: url("https://tse1.mm.bing.net/th?id=OIP.yAzeF-yRYlG5UCvyoHmXcQHaE7&pid=Api&P=0&h=220");
    background-size: cover; */
    background-repeat: no-repeat;
    height: 100vh;
}
.form2{
    background-color: white;
    padding: 30px;
    width: 50%;
    height: 700px;
    margin-top: 100px;
    margin-left: 25%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.td-form2{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.dk{
    margin-left: 40%;
}
.cc{
    margin-left: 30%;
}