.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer-container {
    width: 80%; /* Độ rộng tùy chỉnh */
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}
